.goods {
    width: 100%;
    margin-top: 46px;
    margin-left: 50px;
}

.goods__menu {
    display: flex;
    gap: 37px;
}

.goods__menu_item {
    font-size: 15px;
}

.goods__menu_item_active {
    font-weight: 700;
    color: #46A358;
    border-bottom: 3px solid #46A358;;
}

.sort__block {
    margin-left: auto;
    display: flex;
    font-size: 15px;
}

.sort__selector {
    margin-left: 8px;
    cursor: pointer;
}

.sort__selector::after {
    margin-left: 8px;
    content: url('./../../../assets/images/arrow.svg');
}

.products {
    margin-top: 31px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px 0px;
    justify-content: space-between
}

.sort__block {
    position: relative;
}

.selector {
    width: 100%;
    z-index: 10;
    margin-top: 20px;
    position: absolute;
    background-color: white;
}

.selector__item {
    cursor: pointer;
    padding: 10px;
    font-weight: 500;
    transition: all 0.2s;
}

.selector__item:hover {
    background-color: #46A358;
    color: white;
}