.goods {
    width: 100%;
    margin-top: 46px;
    margin-left: 50px;
}

.goods__menu {
    display: flex;
    gap: 37px;
}

.goods__menu_item {
    font-size: 15px;
}

.goods__menu_item_active {
    font-weight: 700;
    color: #46A358;
    border-bottom: 3px solid #46A358;;
}

.sort__block {
    margin-left: auto;
    display: flex;
    font-size: 15px;
}

.sort__selector {
    margin-left: 8px;
    cursor: pointer;
}

.sort__selector::after {
    margin-left: 8px;
    content: url('./../../../assets/images/arrow.svg');
}

.products {
    margin-top: 31px;
    max-width: 100%;
    display: grid;
    gap: 20px 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
}

.sort__block {
    position: relative;
}

.selector {
    width: 100%;
    z-index: 10;
    margin-top: 20px;
    position: absolute;
    background-color: white;
}

.selector__item {
    cursor: pointer;
    padding: 10px;
    font-weight: 500;
    transition: all 0.2s;
}

.selector__item:hover {
    background-color: #46A358;
    color: white;
}

.pagination {
    margin-top: 90px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.prev__btn,
.next__btn {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: solid 1px #E5E5E5;
    cursor: pointer;
    padding: 10px;
    content: url('./../../../assets/images/pagination-arrow.svg');
}


.page {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: solid 1px #E5E5E5;
    cursor: pointer;
    padding: 7px 12px;
    font-weight: 300;
    font-size: 18px;
    color: #3D3D3D;
}

.prev__btn {
    transform: rotate(180deg);
}

@media screen and (max-width: 1470px) {
    .products {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width: 1150px) {
    .products {
        grid-template-columns: repeat(2, auto);
    }
}