.form {
    display: flex;
    justify-content: space-between;
}

.title {
    margin-top: 36px;
}

.form__blocks {
    display: grid;
    gap: 30px 22px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 350px);
    margin-top: 21px;
    align-items: end;
}

.form__field,
.selector {
    max-width: 350px;
    border: solid 1px #EAEAEA;
    color: #A5A5A5;
    font-size: 14px;
    border-radius: 5px;
    padding: 12px 13px;
    
}

.selector {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.selector p {
    padding: 12px 13px;
    color: #A5A5A5;
}

.form__field_label {
    font-size: 15px;
    display: flex;
    gap: 3px;
}

.error {
    color: #F03800;
}

.form__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.phone__selector {
    max-width: 78px;
}

.selector__options {
    position: absolute;
    background-color: white;
    margin-top: -3px;
    width: 100.6%;
    left: 0;
    margin-left: -1px;
    border-radius: 5px;
    max-height: 125px;
    overflow-y: scroll;
}

.selector__options::-webkit-scrollbar {
    display: none;
  }

.selector__option {
    padding: 10px;
    transition: all 0.2s;
    font-weight: 700;
    border-bottom: solid 1px #EAEAEA;
    border-left: solid 1px #EAEAEA;
    border-right: solid 1px #EAEAEA;
}

.selector__option:hover {
    background-color: #46A358;
    color: white;
}


.back__order_popup {
    display: none;
}

.back__order_popup_active {
    top: 0;
    display: block;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background-color: black;
    opacity: 0.25;
}

@media screen and (max-width: 1160px) {
    .form__blocks {
        grid-template-columns: repeat(2, 300px);
    }
}


@media screen and (max-width: 1050px) {
    .form__blocks {
        grid-template-columns: repeat(2, 270px);
    }
}