header div:nth-child(1) {
    padding: 26px 20px 17.7px 20px;
    display: flex;
    align-items: center;
}

.right__menu {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: auto;
}

.search {
    cursor: pointer;
}

.basket {
    cursor: pointer;
}

.basket__count {
    border: solid 2px white;
    margin: -5px 15px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: #46A358;
    color: white;
    font-weight: 500;
    font-size: 10px;
    position: absolute;
}

.user__name {
    font-weight: 700;
    font-size: 20px;
    color: #46A358;
}