.product__center {
    margin-top: 92px;
}

.product__title {
    color: #46A358;
    padding-bottom: 10px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.product__description_text {
    margin-top: 30px;
    line-height: 24px;
    font-size: 16px;
}