.product__bottom {
    margin-top: 127px;
}

.product__title {
    color: #46A358;
    padding-bottom: 10px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 44px;
}

.slide {
    width: 320px;
}

.product__slider {
    padding-bottom: 50px;
}